/* .table-container {
    height: 17em;
    min-height: 2em;
    max-height:6em;

} */
table {


    border-radius:6px;


    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    border: 1px solid#dddddd;;
}
td:first-child, th:first-child {
    border-left: none;
}

table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 1.0em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    max-height:12em;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

tr:nth-child(even) {
    background-color: #dddddd;

    border-left:solid #dddddd 1px;
    border-top:solid #dddddd 1px;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }
td {
    font-size: .8rem;
}

th {
    border-top: none;
}
  /* ::-webkit-scrollbar {
    width: 10px;
    background: transparent; /* make scrollbar transparent */
/*} */

