<!-- <searchheader></searchheader> -->







  <div class="container" >

    <div class="single">
        <div class="row">

          <div class="col-md-8" >
            <br><br><br>
            <!-- <div class="login_div" [hidden]="!mobile">
            <div class="login_div" [hidden]="mobile"> -->
              <div class="login_div">

                <div class="col_3">
                    <h2>Forgot Your Password? We can help you. </h2>
                    <br>
                    <p *ngIf="loginError !=''" style="color: red;">{{ loginError }}
                      <a *ngIf="!_auth.isAuthenticated()" routerLink="/signin">Sign In</a>
                    </p>
                    
                    <div id="login-content">
                        <form #f="ngForm" (ngSubmit)="ResetPassword(f.value)">
                            <div class="textbox-wrap">
                                <div class="input-group">
                                    <span class="input-group-addon "><i class="fa fa-user"></i></span>
                                    <!--input type="text" required="required" class="form-control" placeholder="Username"-->
                                    <input type="text" required="required" [value]="login.username"  ngModel name="username" #username="ngModel" id="username" class="form-control" placeholder="Email Address" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}"/>
                                </div>
                            </div>
  
                           
  
                            <button class="btn_common btn-default" type="submit" value=" Submit" id="submit" name="submit" >
                                <i class="fa fa-user"></i>&nbsp;Reset Password
                            </button>
  
                        </form>
  
                    </div>
                    <br>
                    <div>
                        <p>Remember Your Password&nbsp;&nbsp;<a routerLink="/signin">Sign in?</a></p>
                    </div>
  
                </div>
              </div>


          </div>

          <div class="col-md-4">
              <div class="col_3">
                  <advertisement></advertisement>
              </div>
          </div>
        <div class="clearfix"> </div>
        </div>

    </div>
</div>
