<h2 mat-dialog-title *ngIf="!isDeleted">Are you sure to delete this user?</h2>
<h2 mat-dialog-title *ngIf="isDeleted">User Deleted Sucessfully</h2>

<!--mat-dialog-content>

<p> Place content here </p>
</mat-dialog-content-->

<mat-dialog-actions *ngIf="!isDeleted">
    <!-- <button class="mat-raised-button" (click)="deleteRecord()">Yes</button>
    <button class="mat-raised-button" (click)="close()">No</button> -->
    <button class="btn btn-primary" (click)="deleteRecord()">Yes</button>
    <button class="btn btn-primary" (click)="close()">No</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="isDeleted">
    <!-- <button class="mat-raised-button" (click)="close()">Ok</button> -->
    <button class="btn btn-primary" (click)="close()">Continue</button>
</mat-dialog-actions>
