.col-md-4, .col-md-8, .col-md-3, .col-sm-2, .col-sm-6, .col-md-9, .col-md-5, .col-md-7, .col-md-6, .col-sm-10, .col-sm-4, .col-sm-8, .col-sm-3{
    padding:0;
    padding-right: 2px!important;
    padding-left: 2px!important;
}