
<searchheader></searchheader>






<!-- <searchheader></searchheader> -->

<div class="container" >

    <div class="single">
        <div class="row">

          <div class="col-md-8" >
            <br><br><br>
            <!-- <div class="login_div" [hidden]="!mobile">
            <div class="login_div" [hidden]="mobile"> -->

                <div id="buttonHomePage" class="clearfix">
                    <p style="color:#006309; font-size: 19px;" >
                        {{ message }}         
                    </p>
                    <label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/signin" value="Sign In"></label>
                    &nbsp;&nbsp;&nbsp;
                </div>



          </div>

          <div class="col-md-4">
              <div class="col_3">
                  <advertisement></advertisement>
              </div>
          </div>
        <div class="clearfix"> </div>
        </div>

    </div>
</div>

