.table-container {
    height: 23em;

}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    border: 1px solid#dddddd;;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }
td {
    font-size: .8rem;
}
  /* ::-webkit-scrollbar {
    width: 10px;
    background: transparent; /* make scrollbar transparent */
/*} */