
<div id="search_wrapper1">
    <br>
    <form #searchResume="ngForm" (ngSubmit)="getResumeSearch(searchResume)">
         <div id="search_form" class="clearfix">
             <!-- <h5>Resume Search</h5> -->
             <!-- <p> -->
             <!-- <table>
                 <tr> -->
                     <!-- <td colspan="4"> -->
                        <input type="text" class="text" autocomplete="off" [hidden]="!mobile" style="width:60% !important;"
                         ngModel name="ResumeSearch" #ResumeSearch="ngModel" id="ResumeSearch" 
                         placeholder="{{searchPlaceHolder}}">
                         <input type="text" class="text" autocomplete="off"  [hidden]="mobile" size="70%"
                         ngModel name="ResumeSearch" #ResumeSearch="ngModel" id="ResumeSearch" 
                         placeholder="{{searchPlaceHolder}}">

                         <!-- <input type="text" class="text" autocomplete="off" size=1
                         ngModel name="ResumeSearch" #ResumeSearch="ngModel" id="ResumeSearch" 
                         placeholder="Skills"> -->

                          &nbsp;<label class="btn2 btn-2 btn2-1b"><input type="submit" value="Search Profiles"></label>


                          <!-- <table>
                            <tr>
                              <td [hidden]="!mobile">
                                <input type="text" class="text" autocomplete="off" size=1
                                ngModel name="ResumeSearch" #ResumeSearch="ngModel" id="ResumeSearch" 
                                placeholder="Skills">
                               </td>
                               <td [hidden]="mobile">
                                <input type="text" class="text" autocomplete="off" size="70%" [hidden]="mobile"
                                ngModel name="ResumeSearch" #ResumeSearch="ngModel" id="ResumeSearch" 
                                placeholder="Skills">
                               </td>

                               <td>
                                 &nbsp;<label class="btn2 btn-2 btn2-1b"><input type="submit" value="Search Resumes"></label>  
                               </td>
                            </tr>
                          </table> -->





                     <!-- </td> -->

                     <!-- <td>
                         <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Search Resume"></label>
                     </td> -->
                 <!-- </tr>

             </table> -->

   <!--input type="text" class="text" required="required" value= "location" ngModel name="location" #username="ngModel" id="location" placeholder="{{ location }}" value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}"-->

             <!-- </p> -->

         </div>
     </form>
    </div>




    <div class="table-container">
    
        <br>
        <div ali class="progress-loader" [hidden]="!loading">
                        
            <mat-progress-spinner [mode]="'indeterminate'" [color]="'warn'" style="align-content: center;left:45%;">
            </mat-progress-spinner>
        
        </div>   
    
        <table>
            <thead>
                <tr>
                    <th colspan="3">
                        <!-- Job Posted&nbsp;({{pjob?.length}}) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  [routerLink]="['/jobpoststatus']" class="read-more">More</a> -->
                        Jobs Posted&nbsp;<div class="tooltip"><i class="fa fa-commenting-o"></i><span class="tooltiptext">Lastest Records [Max {{numberAtHomePage}}]</span></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  [routerLink]="['/jobpoststatus']" class="read-more">More</a>                        <!-- <input type="button" class="btn btn-primary btn-block" routerLink="/postjob" value="Post Job"> -->
                    </th>
    
                </tr>  
            </thead>      
            <thead>
                <tr>
                    <!-- <th>Job ID</th>           -->
                    <th>Job Title [ID] <a (click)="sortValue('asc','JobTitle','PostJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','JobTitle','PostJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>
                    <th>Location <a (click)="sortValue('asc','JobCity','PostJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','JobCity','PostJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>
                    <!-- <th>Date Created</th>                 -->
                    <th>Date Modified <a (click)="sortValue('asc','LastModifiedDate','PostJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','LastModifiedDate','PostJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>
                    <th>Active Job <a (click)="sortValue('asc','isSearchable','PostJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','isSearchable','PostJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>
                    <th>Applicants <a (click)="sortValue('asc','ApplicantCount','PostJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','ApplicantCount','PostJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pj of pjob">
                    <!-- <td>{{ pj?.JobID}}</td> -->
                    <td><a [routerLink]="['/jobdetails',pj.id]" target="_blank">{{ pj.JobTitle?.substring(0,35) }}<span *ngIf="pj.JobTitle?.length>35">...</span> [{{ pj?.JobID}}]</a></td>
                    <td>{{ pj.JobCity?.substring(0,15) }}, {{ pj.JobState }}</td>
                    <!-- <td>{{pj.CreatedDate?.toDate() | date: 'MM/dd/yyyy'}}</td>                     -->
                    <td>{{pj.LastModifiedDate?.toDate() | date: 'MM/dd/yyyy  h:mm a'}}</td>
                    <td>{{pj.isSearchable==true?'Yes':'No'}}</td>
                    <td><a (click)="getURLValue(pj.id,pj.JobTitle,pj.JobID)">{{pj.ApplicantCount}} [<i class="fa fa-search"></i>]</a></td>
                    <!-- <td><a [routerLink]="['/applicants',pj.id]">{{pj.ApplicantCount}}</a></td>                     -->
                    <!-- <td><a [routerLink]="['/applicants',pj.id,{ 'queryParams': {jobtitle: pj.JobTitle, jobidserial: pj?.JobID},'queryParamsHandling': 'merge'}]">{{pj.ApplicantCount}}</a></td> -->
                </tr>

            </tbody>
    
            <thead>
                <tr>
                    <th colspan="3" align="right">
                        <div id="buttonHomePage" class="clearfix">
                            <label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/postjob" value="Post Job"></label>
                            <!-- &nbsp;&nbsp;&nbsp;
                            <label *ngIf="auth.isResumeSearchRole()"  class="btn2 btn-2 btn2-1b"><input *ngIf="auth.isResumeSearchRole()" type="button" routerLink="/resumesearch" value="Search Resume"></label> -->
                        </div> 
                      

                        <!-- <div class="col-md-6 col-lg-3 mb-3 mb-lg-0" *ngIf="auth.isPostJobRole()">
                            <input type="button" class="btn btn-primary btn-block" routerLink="/postjob" value="Post Job">
                        </div> -->
                    </th>
    
                </tr>
            </thead>
    
        </table>
        
    </div>
    <br>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th colspan="3">
                        Applicants&nbsp;&nbsp;<div class="tooltip"><i class="fa fa-commenting-o"></i><span class="tooltiptext">Lastest Records [Max {{numberAtHomePage}}]</span></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  [routerLink]="['/appliedjob']" class="read-more">More</a>
                        <!-- <input type="button" class="btn btn-primary btn-block" routerLink="/postjob" value="Post Job"> -->
                    </th>
    
                </tr>  
            </thead>      
            <thead>
                <tr>
                    <th>Name <a (click)="sortValue('asc','Name','ApplyJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','Name','ApplyJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>
                    <th>Email <a (click)="sortValue('asc','Email','ApplyJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','Email','ApplyJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>
                    <th>Job Title [ID] <a (click)="sortValue('asc','JobTitle','ApplyJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','JobTitle','ApplyJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>
                    <th>Location <a (click)="sortValue('asc','Location','ApplyJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','Location','ApplyJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>                    
                    <th>Date Applied <a (click)="sortValue('asc','CreatedDate','ApplyJob')"><i class="fa fa-caret-up" style="font-size:20px"></i></a><a (click)="sortValue('des','CreatedDate','ApplyJob')"><i class="fa fa-caret-down" style="font-size:20px"></i></a></th>                

    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aj of aJob">
                    <td>{{aj.FirstName}} {{aj.LastName}}</td>
                    <td><a [routerLink]="['/applicantapplied',aj.FromEmail]">{{aj.FromEmail?.substring(0,20)}}</a></td>
                    <td><a [routerLink]="['/jobdetails',aj.JobID]" target="_blank">{{ aj.JobTitle?.substring(0,35) }}<span *ngIf="aj.JobTitle?.length>35">...</span> [{{aj.JobIDSerial}}]</a></td>
                    <td>{{ aj.joblocation }}</td>
                    <td>{{aj.CreatedDate?.toDate() | date: 'MM/dd/yyyy  h:mm a'}}</td>
                </tr>
            </tbody>
    
            <!-- <thead>
                <tr>
                    <th colspan="3" align="right">
                        <div id="buttonHomePage" class="clearfix">
                            <label class="btn2 btn-2 btn2-1b"><input type="button" value="Find Jobs"></label>
                        </div>

                    </th>
    
                </tr>
            </thead> -->
    
        </table>  

    </div>





