<div id="search_wrapper1">
    <form #searchResume="ngForm" (ngSubmit)="getResumeSearch(searchResume)">
         <div id="search_form" class="clearfix">
             <!-- <h5>Resume Search</h5> -->
             <!-- <p> -->
             <!-- <table>
                 <tr> -->
                     <!-- <td colspan="4"> -->
                        <input type="text" class="text" autocomplete="off" 
                         ngModel name="ResumeSearch" #ResumeSearch="ngModel" id="ResumeSearch" 
                         placeholder="Skills">
                          &nbsp;<label class="btn2 btn-2 btn2-1b"><input type="submit" value="Search Resumes"></label>
                     <!-- </td> -->

                     <!-- <td>
                         <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Search Resume"></label>
                     </td> -->
                 <!-- </tr>

             </table> -->

   <!--input type="text" class="text" required="required" value= "location" ngModel name="location" #username="ngModel" id="location" placeholder="{{ location }}" value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}"-->

             <!-- </p> -->

         </div>
     </form>
    </div>

    <br>


    <div class="table-container">
    

        <div ali class="progress-loader" [hidden]="!loading" >
                        
            <mat-progress-spinner [mode]="'indeterminate'" [color]="'warn'" style="align-content: center;left:45%;">
            </mat-progress-spinner>
        
        </div>   
    
        <table>
            <thead>
                <tr>
                    <th colspan="3">
                        <!-- Job Posted&nbsp;({{pjob?.length}}) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  [routerLink]="['/jobpoststatus']" class="read-more">More</a> -->
                        Job Posted&nbsp;<div class="tooltip">(*)<span class="tooltiptext">Last {{numberAtHomePage}} &nbsp; Records.</span></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  [routerLink]="['/jobpoststatus']" class="read-more">More</a>                        <!-- <input type="button" class="btn btn-primary btn-block" routerLink="/postjob" value="Post Job"> -->
                    </th>
    
                </tr>  
            </thead>      
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Location</th>
                    <!-- <th>Date Created</th>                 -->
                    <th>Date Modified</th>
                    <th>Active Job</th>
                    <th>Applicants</th>   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pj of pjob">
                    <td><a [routerLink]="['/jobdetails',pj.id]" target="_blank">{{ pj.JobTitle?.substring(0,25) }}</a></td>
                    <td>{{ pj.JobCity?.substring(0,15) }}, {{ pj.JobState }}</td>
                    <!-- <td>{{pj.CreatedDate?.toDate() | date: 'MM/dd/yyyy'}}</td>                     -->
                    <td>{{pj.LastModifiedDate?.toDate() | date: 'MM/dd/yyyy  h:mm a'}}</td>
                    <td>{{pj.isSearchable==true?'Yes':'No'}}</td>
                    <td><a [routerLink]="['/applicants',pj.id]">{{pj.ApplicantCount}} Applicants</a></td>
                </tr>

            </tbody>
    
            <thead>
                <tr>
                    <th colspan="3" align="right">
                        <div id="buttonHomePage" class="clearfix">
                            <label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/postjob" value="Post Job"></label>
                            <!-- &nbsp;&nbsp;&nbsp;
                            <label *ngIf="auth.isResumeSearchRole()"  class="btn2 btn-2 btn2-1b"><input *ngIf="auth.isResumeSearchRole()" type="button" routerLink="/resumesearch" value="Search Resume"></label> -->
                        </div> 
                      

                        <!-- <div class="col-md-6 col-lg-3 mb-3 mb-lg-0" *ngIf="auth.isPostJobRole()">
                            <input type="button" class="btn btn-primary btn-block" routerLink="/postjob" value="Post Job">
                        </div> -->
                    </th>
    
                </tr>
            </thead>
    
        </table>
        
    </div>
    <br>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th colspan="3">
                        Applicants&nbsp;&nbsp;<div class="tooltip">(*)<span class="tooltiptext">Last {{numberAtHomePage}} &nbsp; Records.</span></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  [routerLink]="['/appliedjob']" class="read-more">More</a>
                        <!-- <input type="button" class="btn btn-primary btn-block" routerLink="/postjob" value="Post Job"> -->
                    </th>
    
                </tr>  
            </thead>      
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Location</th>                    
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date Applied</th>                

    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aj of aJob">
                    <td><a [routerLink]="['/jobdetails',aj.JobID]" target="_blank">{{ aj.JobTitle?.substring(0,25) }}</a></td>
                    <td>{{ aj.joblocation }}</td>
                    <td>{{aj.FirstName}}&nbsp;{{aj.LastName}}</td>
                    <td><a [routerLink]="['/applicantapplied',aj.FromEmail]">{{aj.FromEmail?.substring(0,20)}}</a></td>
                    <td>{{aj.CreatedDate?.toDate() | date: 'MM/dd/yyyy  h:mm a'}}</td>
                </tr>
            </tbody>
    
            <!-- <thead>
                <tr>
                    <th colspan="3" align="right">
                        <div id="buttonHomePage" class="clearfix">
                            <label class="btn2 btn-2 btn2-1b"><input type="button" value="Find Jobs"></label>
                        </div>

                    </th>
    
                </tr>
            </thead> -->
    
        </table>  

    </div>





