<div class="container">
  <div class="single">
      <div class="form-container">

          
                  <h3>Job Prediction</h3>
                  <h6>(According to Numerology)</h6>

                  <!-- <div id="site_form" [hidden]="jobPredectionSucessMessage != null && jobPredectionSucessMessage !=''"> -->
                    
                  <div *ngIf="jobPredectionSucessMessage !=''">
                    <!-- <p class="error_Message" *ngIf="jobPredectionSucessMessage !=''">
                      {{ jobPredectionSucessMessage }}         
                    </p>   -->
                    
                    <div *ngIf="jobPredectionSucessMessage !=''" class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-striped"

                                  role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                                  aria-valuemin="0" aria-valuemax="100"
                                  [style.background-color]="progress.percentage==EXECELLENT_MATCH_PERCENTAGE?'#1D4200':progress.percentage==GOOD_MATCH_PERCENTAGE?'#649d66':progress.percentage==AVERAGE_MATCH_PERCENTAGE?'#FEB72B':progress.percentage==BAD_MATCH_PERCENTAGE?'red':'blue'"
                                  [ngStyle]="{width:progress.percentage+'%'}">
                                  {{jobPredectionSucessMessage}}%</div>
                    </div>                    



                  </div>


                  <form #jobPForm="ngForm" (ngSubmit)="jobPrediction(jobPForm)" >

                      <label for="firstname">First Name:</label> 
                      <input type="text" 
                      (focus)="onFocus($event)"  ngModel name="firstname" 
                      #firstname="ngModel" id="firstname" firstname 
                      class="form-control input-sm" required/>
  
                      <div class="error_Message" *ngIf="Fieldlength(firstname.value) < 2 && firstname.touched">
                          First Name must be at least 2 characters long.
                      </div> 

                      <label for="middlename">Middle Name:</label> 
                      <input type="text" 
                      (focus)="onFocus($event)"  ngModel name="middlename" 
                      #middlename="ngModel" id="middlename" middlename 
                      class="form-control input-sm" />

                      <label for="lastname">Last Name:</label> 
                      <input type="text" 
                      (focus)="onFocus($event)"  ngModel name="lastname" 
                      #lastname="ngModel" id="lastname" lastname 
                      class="form-control input-sm" required/>
  
                      <div class="error_Message" *ngIf="Fieldlength(lastname.value) < 2 && lastname.touched">
                          Last Name must be at least 2 characters long.
                      </div>

                      <label for="companyname">Company Name:</label> 
                      <input type="text" 
                      (focus)="onFocus($event)"  ngModel name="companyname" 
                      #companyname="ngModel" id="companyname" companyname [ngModel]="companyTemp"
                      [disabled]="companyTemp !=''"
                      class="form-control input-sm" required/>
  
                      <div class="error_Message" *ngIf="Fieldlength(companyname.value) < 2 && companyname.touched">
                          Company Name must be at least 2 characters long.
                      </div>
                      <br>
                      <div class="form-group">
                          <table>
                            <tr>
                              <td>
                                <div class="error_Message" *ngIf="!jobPForm.valid && jobPForm.touched">
                                  (Please enter required fields)
                                </div>   

                                <div class="row">
                                  &nbsp;&nbsp;&nbsp;
                                  <div class="form-actions floatRight">
                                     <input type="submit" value="Submit" [disabled]="!jobPForm.valid || Fieldlength(firstname.value) < 2 || Fieldlength(lastname.value) < 2 || Fieldlength(companyname.value) < 2" class="btn btn-primary btn-sm">
                                  </div>&nbsp;&nbsp;&nbsp;
                                  <div class="form-actions floatRight" *ngIf="dialogRef ==null">
                                    &nbsp;<input type="button" value="Reset" (click)="resetForm(jobPForm);" class="btn btn-primary btn-sm">
                                  </div> &nbsp;&nbsp;&nbsp;
                                  <div class="form-actions floatRight" *ngIf="dialogRef !=null">
                                    &nbsp;<input type="button" value="Cancel" (mousedown)="close();" class="btn btn-primary btn-sm">
                                  </div>                                                                    
                                </div>                                

                                <!-- <button class="btn_common btn-default" type="submit" value=" Submit" id="submit" name="submit" [disabled]="!jobPForm.valid || Fieldlength(firstname.value) < 3 || Fieldlength(lastname.value) < 3 || Fieldlength(companyname.value) < 3">
                                  <i class="fa fa-floppy-o"></i>&nbsp;Submit
                                </button> -->
                                &nbsp;&nbsp;
                                <!-- <button class="btn_common btn-default" type="button" value=" reset" id="reset" name="reset" (click)="resetForm(jobPForm)">
                                    <i class="fa fa-repeat"></i>&nbsp;Reset
                                </button>   -->
                              </td>                  
                            </tr>
                          </table>
                        </div>    

                  </form>

                  <p class="disclaimer"><b>Disclaimer</b>: Numerology is an old and respected system of divination. It is often but not always accurate.
                    The readings and interpretations are always subordinate to individuals' beliefs and their power to choose who and what they are now and will become.
                    Enjoy this web site. Take with you what insights you find, but please remember that no information received from any method of divination is infallible. Your life is always your choice.
                  </p>


      </div>
  </div>
</div>