<div class="row">
  <div class="col-sm-2">
      <label style="font-weight: bold;">Resume Upload<span style="color: red;">&nbsp;*</span></label>
  </div>
  <div class="col">
      <div *ngIf="currentFileUpload" class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped"
                      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                      aria-valuemin="0" aria-valuemax="100"
                      [ngStyle]="{width:progress.percentage+'%'}">
                      {{progress.percentage}}%</div>
      </div>
      <label class="btn btn-default"> <input type="file" name="fileUpload" (change)="selectFile($event)">
      </label>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-success" [disabled]="!selectedFiles || !resumeUploadEnabled" (click)="upload()">Upload</button>
      <!--a href="{{rUploadService.downloadURL}}" [hidden]="!resumeUploadEnabled" target="_blank">{{rUploadService.fileName}}</a-->
      &nbsp; <!--a href="{{rUploadService.downloadURL}}" [hidden]="!resumeUploadEnabled" target="_blank">Resume1</a-->
      <!-- &nbsp; <a href="{{rUploadService.selectedUploadResume?.ResumeURL}}" [hidden]="!isNewUpload" target="_blank">Resume</a> -->
      <div style="color: green;" *ngIf="!resumeUploadEnabled">
          Please Upload Resume(.doc, .docx, .pdf, .ppt, .pptx)
      </div>
  </div>
</div>
<br>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th colspan="3">
                    <!-- Today's Applied Job&nbsp;({{aJob?.length}}) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  [routerLink]="['/appliedjob']" class="read-more">More</a> -->
                    Uploaded Resume(s) &nbsp;({{uResume?.length}})

                    <!-- <input type="button" class="btn btn-primary btn-block" routerLink="/postjob" value="Post Job"> -->
                </th>

            </tr>  
        </thead>      
        <thead>
            <tr>
                <th>Resume Filename</th>
                <th>Date Created</th>
                <th>Date Modified</th>
                <!-- <th>Employment Type</th>                 -->
                <th>Resume File</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rm of uResume">
                <td>{{ rm.ResumeFileName.substring(0,27) }}</td>
                <td>{{ rm.CreatedDate?.toDate() | date: 'MM/dd/yyyy'}}</td>
                <!-- <td>{{pj.EmploymentTypes.toString().substring(0,10)}}</td> -->
                <td>{{rm.ModifiedDate?.toDate() | date: 'MM/dd/yyyy'}}</td>
                <td><a href="{{rm.ResumeURL}}" target="_blank">Download</a></td>
            </tr>
        </tbody>
<!-- 
        <thead>
            <tr>
                <th colspan="3" align="right">
                    <div id="buttonHomePage" class="clearfix">
                        <label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/uploadresumepage" value="Upload Resume"></label>
                        &nbsp;&nbsp;&nbsp;
                    </div> 

                </th>

            </tr>
        </thead> -->

        <!-- <thead>
            <tr>
                <th colspan="3" align="right">
                    <div id="buttonHomePage" class="clearfix">
                        <label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/userprofile" value="Upload Resume"></label>
                        &nbsp;&nbsp;&nbsp;
                     </div> 
                </th>

            </tr>
        </thead> -->

    </table>  

</div>
