<searchheader></searchheader>


<div class="container">

  <div class="single">
      <div class="row">


        <div class="col-md-8">
            <br>
            <!-- <h3>Upload Resume</h3> -->
            <div class="col_3">
                <!-- <hr/> -->
                <uploadresume></uploadresume>
                <br>
                <!-- <div id="buttonHomePage" class="clearfix">
                    <label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/userprofile" value="Edit Profile"></label>
                    &nbsp;&nbsp;&nbsp;
                </div> -->
                <div class="form-container">
                    <div class="row">
                        <div class="col">
                            <h4>&nbsp;&nbsp;Profile</h4>
                        </div>
                        <div class="col">
    
                            <div id="buttonHomePage" class="clearfix" align="left" >
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/userprofile" value="Edit Profile"></label>
                                
                                <!-- <label *ngIf="auth.isResumeSearchRole()"  class="btn2 btn-2 btn2-1b"><input *ngIf="auth.isResumeSearchRole()" type="button" routerLink="/resumesearch" value="Resume Search"></label> -->
                            </div>

                        </div>
                    </div>

                    <!-- <div class="col-sm-2">
                        <label><h4>&nbsp;&nbsp;Profile</h4>
                            <span></span></label>
                        <label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/userprofile" value="Edit Profile"></label>
                    </div> -->
<!-- 
                    <div id="buttonHomePage" class="clearfix" align="right">
                        <span >Profile</span><label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/userprofile" value="Edit Profile"></label>
                        &nbsp;&nbsp;&nbsp;
                    </div> -->

                    <!-- <h4>Profile</h4> -->
                    <hr/>
    
    
                    <div class="resumedetails">
    
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;">First Name </label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                            {{ uprofile[0]?.FirstName }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                            <div class="col-sm-2" >
                                <label style="font-weight: bold;" for="LastName">Last Name</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                            {{ uprofile[0]?.LastName }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>                     
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
    
    
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="Sex">Gender</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                            {{ uprofile[0]?.Sex }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="Email">Email</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                            {{ uprofile[0]?.Email }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
    
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
    
                        <div class="row">
                            <div class="col-sm-2" >
                                <label style="font-weight: bold;"  for="HomePhone">Home Phone</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.HomePhone }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="CellPhone">Cell Phone</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.CellPhone }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
    
    
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="Address1">Address</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.Address1 }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
    
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="Address2"></label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{uprofile[0]?.Address2}}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
    
    
    

    
    
    
                        <div class="row">
    
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="City">City</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.City }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="ZipCode">Zip</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.ZipCode }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
    
    
                        </div>
    
    
                        <!-- </div>
                        <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
    
                        <div class="row">
    
    
                            <div class="col-sm-2">
                                    <label style="font-weight: bold;" for="Country">Country</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.Country }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
    
    
    
    
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="State">State</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.State }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->

    
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;"  for="FaceBookURL">Facebook URL</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.FaceBookURL }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="LinkedinURL">Linkedin URL</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.LinkedinURL }}
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
    
    
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="PersonalWebsite">Personal Website</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.PersonalWebsite }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
                    </div>
    

                    <!-- <h3 class="title" style="color: red;">Job Looking</h3> -->
                    <h4>Job Preference</h4>
                    <hr/>
                    <div class="resumedetails">
                        
    
    
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="EmploymentType">Employment Type</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.EmploymentType }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>

                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
        
        
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="DesiredPosition">Desired Position</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.DesiredPosition }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>                           
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="DesiredSalary">Desired Salary</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.DesiredSalary }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
        
        
        
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="IsRelocate">Relocate</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ relocate }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="IsTravel">Travel</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ travel }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div>
                        
                    </div>

                    <!-- <h3 class="title" style="color: red;">Professional Experience</h3> -->
                    <h4>Professional Experience</h4>
                    <hr/>
                    <div class="resumedetails">
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="WorkAuthorization">Work Authorization</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.WorkAuthorization }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>                            
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="YearsofExperince">Years of Experience</label>
                            </div>
                            <div class="col" *ngIf="uprofile !=null">
                                {{ uprofile[0]?.YearsofExperince }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>

                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
    
    
    
                    <div class="row">
                        <div class="col-sm-2">
                            <label style="font-weight: bold;" for="SecurityClearance">Security Clearance</label>
                        </div>
                        <div class="col" *ngIf="uprofile !=null">
                            {{ security }}
                        </div>
                        <div class="col" *ngIf="uprofile == null"></div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-2">&nbsp;
                        </div>
                    </div> -->
    
    
                    <div class="row">
                        <div class="col-sm-2">
                            <label style="font-weight: bold;" for="CoverLetter">Cover Letter</label>
                        </div>
                        <div class="col" *ngIf="uprofile !=null">
                            {{ uprofile[0]?.CoverLetter }}
                        </div>
                        <div class="col" *ngIf="uprofile == null"></div>
                    </div>
    
    
                    <div class="row">
                        <div class="col-sm-2">&nbsp;
                            <!--a href="{{fileUpload.url}}">{{fileUpload.name}}</a>
                            <button-- (click)='deleteFileUpload(fileUpload)' class="btn btn-danger btn-xs" style="float: right">Delete</button-->
    
                        </div>
                    </div>
                    </div>

                    <br>
                    <!-- <h3 class="title" style="color: red;">Education</h3> -->
                    <h4>Education</h4>
                    <hr>
                    <div class="resumedetails">
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="Education" placeholder="MS, B-Tech, MCA etc.">Field of study</label>
                            </div>
                            <div class="col" *ngIf="uprofile != null">
                                {{ uprofile[0]?.Education }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
        
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="institute">Institute</label>
                            </div>
                            
                            <div class="col" *ngIf="uprofile != null">
                                {{ uprofile[0]?.institute }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="instituteCity">Institute City</label>
                            </div>
                            <div class="col" *ngIf="uprofile != null">
                                {{ uprofile[0]?.instituteCity }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
        
        
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="instituteCountry">Institute Country</label>
                            </div>
                            <div class="col" *ngIf="uprofile != null">
                                {{ uprofile[0]?.instituteCountry }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
        
                    </div>

                    <!-- <h3 class="title" style="color: red;">Skillset</h3> -->
                    <h4>SkillSet</h4>
                    <hr/>
                    <div class="resumedetails">
                        <div class="row">
                            <div class="col-sm-2">
                                <label style="font-weight: bold;" for="SkillSet">Skillset</label>
                            </div>
                            <div class="col" *ngIf="uprofile != null">
                                {{ uprofile[0]?.SkillSet }}
                            </div>
                            <div class="col" *ngIf="uprofile == null"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">&nbsp;
                            </div>
                        </div> -->
                        <div class="row">
        
                        </div>
                    </div>




            </div>

            <!-- <div id="buttonHomePage" class="clearfix">
                <label class="btn2 btn-2 btn2-1b"><input type="button" routerLink="/userprofile" value="Edit Profile"></label>
                &nbsp;&nbsp;&nbsp;
            </div> -->
              


            </div>
        </div>

        <div class="col-md-4">
             <div class="col_3">
                <advertisement></advertisement>
             </div>
  
  
  
  
        </div>

        <div class="clearfix"> </div>
    </div>





    </div>
</div>








